*{
  margin: 0;
  padding: 0;
}

.container{
  width: 20%;
  height: 15rem;
  background-color: #f2f2f2e3;
  margin-top: 25rem;
  margin-bottom: 0;
  float: right;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  align-items: baseline;
  margin-right: 10px;
}


.message {
  border-radius: 30px;
  margin: 5px 10px;
  padding: 5px 10px;
  position: relative;
  width: 80%;
  font-size: 15px;
}

.message.to {
  background-color: #2095FE;
  color: #fff;
  margin-left: 100px;
  text-align: left;
}

.message.from {
  background-color: #E5E4E9;
  color: #363636;
  margin-right: 100px;
  text-align: left;
}

.float-right{
  float: right;
}

.message.to + .message.from,
.message.from + .message.to {
  margin-top: -10px;
}
